.App {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 0 35px #EEEEEE;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}


/* ---------- Header ---------- */
@import url('./Header.css');

/* ---------- Products ---------- */
@import url('./Products.css');